* {

    margin: 0;
    padding: 0;


}

.card {

    width: 270px;
    height: 480px;
    border: 17px solid white;
    margin-top: 70px;
    margin-left: 50px;
    border-radius: 29px;


}

.card img {

    border-radius: 5px;
    margin-left: 3px;
    margin-top: 2px;

}